# For development and testing purposes only
# These values are NOT required when using the npm package directly
# They are only needed if you are running the local __test__ environment

token=
ENCRYPTION_KEY=
